*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif ;
}
.text-primary {
    color: #fd6e0a;
}
.btn-primary{
    background: #fd6e0a;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.nav-items{
    display: flex; 
    list-style: none;
    align-items: center;   
}
.nav-items a{
    margin-right: 50px;
    text-decoration: none;    
}
.header{
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600; 
    color: #474747;
    margin-bottom: 0;   
}
.banner-title{
    font-size: 85px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 5px;
    margin-bottom: 20px;        
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section */

.about{
    background-color: #fff8f3;
    padding: 130px;
    margin: 130px 0;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}
.section-description{
    text-align: center;
    color: #474747;
    font-size: 18px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.about-info{
    text-align: center;
    color: #474747;
}
.info-description{
    font-size: 18px;
    font-weight: 700;
}
 /* 2nd blog */
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba( 0, 0, 0, 0.6);
    background-color: #fff;
    
    
}
.skills-description{
    color: #474747;
}
/* resume-column section */

.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color:#474747;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-items-title{
    color: #181818;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}
.resume-items-institute, .resume-items-description{
    color: #474747;
}
.resume-items-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-container hr{
    margin: 30px 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */

footer{
    display: flex;
    background-color: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.social-link a{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 16px 35px;
    color: #474747;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    border: 0;
}